#root {
  margin: 0 auto;
  padding: 2rem;
}

label {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  margin-bottom: 10px;
}

select {
  min-width: 140px;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
}

thead,
tbody {
  th,
  td {
    font-weight: normal;
  }
}

tfoot {
  th,
  td {
    font-weight: bold;
  }
}

th,
td {
  width: 140px;
  padding: 4px 8px;
  border: 1px solid #ddd;
}

td {
  text-align: right;
}

.currency {
  float: left;
}

th,
tfoot td {
  background-color: #f5f5f5;
}

th[scope="col"] {
  text-align: center;
}

th[scope="row"] {
  text-align: left;
}

th[scope="row"].row-numeric {
  text-align: right;
}
